.navbar
{
  width: 100%;
  height: 15vh;
  background-color:pink;
  color: white;
  text-align: center;

}
.navbar a{
  color: white;
  text-decoration: none;
  font-size: 2vw;
  font-weight: 650;
   margin-right: 30vw;
   position: relative;
   top: 1vh;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar
{
  width: 100%;
  height: 10vh;
  background-color: pink;
  color: white;
  font-weight: 750;

  font-size: 2.3vw;
 
}

.navbar a{
  text-decoration: none;
  color: white;
  margin: auto;
  margin-right: 20vw;
}
.logi
{
  margin-top: 20vh;
}
.logi input
{
  width: 30vw;
  height: 4.6vh;
  margin-left: 34.9vw;
  border-radius: 0.2vw;
  margin-top: 1vh;
}
.logi input::placeholder
{
  font-size: 1.3vw;
  outline: none;
  border: none;

}
.button
{
  width: 20vw;
  height: 6vh;
  background-color: pink;
  outline: none;
  border: none;
  border-radius: 0.3vw;
  margin-left: 40.9vw;
  margin-top: 10vh;
  font-size: 1.5vw;
  font-weight: 550;
  color: white;
  cursor: pointer;


}
.button:hover
{
  color: bisque;
}
.header h1
{
  margin-left: 15vw;

}
.div1 h1
{
  margin-left: 15vw;
}
.buttons
{
  width: 7vw;
  height: 4vh;
  margin-left: 10vw;
  margin-top: 5.5vh;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 0.2vw;
  
}
.buttons:hover
{
  background-color: blue;
}


.home
{
  width: 95%;
  margin: auto;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: rgb(255, 253, 253);
}
.div1
{
  width: 20vw;
  height: 59vh;
  border-radius: 1vw;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 2px 2px whitesmoke;
  margin-bottom: 5vh;
}
.imgbox
{
  width: 22vw;
  height: 35vh;
  
}
.imgbox img
{
  width: 100%;
  height: 100%;
}
.div1 p
{
  font-size: 1.4vw;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 550;

}
.div1 button
{
  width: 10vw;
  font-size: 1.3vw;
  height: 5vh;
  background-color: transparent;
  border: 0.3vh solid black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 550;
  border-radius: 0.3vw;
  margin-left: 9vh;
  margin-bottom: 5vh;
  
}
.div1 button:hover
{
  background-color: black;
  color: white;
}

.container
{
  width: 90%;
  height: 70vh;
  margin: auto;
  margin-top: 13vh;
  display: flex;
}
.div2
{
  width: 55vw;
  height: 65vh;
  margin-top: 3vh;
  border-radius: 0.6vw;
  overflow: hidden;

}
.div2 img
{
  width: 100%;
  height: 100%;
}
.div3
{
  margin-left: 10vh;
  width: 60vw;
}
.div3 p
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
}
.booking
{
  width: 95%;
  margin: auto;
  margin-top: 10vh;
}
.div4
{
display: flex;
}
.div4 p
{
  width: 20vw;
}


.c{
  display: none;
 }
 .n{
   width: 85vw;
   margin-left: 8vw;
   margin-top: -8.5vh;
 
 }
 .pa{
   width: 85vh;
   overflow: hidden;
 }
 body{
   min-height: 100vh;
 }
 
 
 
 .view
 {
   width: 15vw;
   height: 5.6vh;
   background-color: transparent;
   border: 0.1vh solid black;
   position: relative;
   top: -31vh;
   left: 41.2vw;
   font-size: 1.3vw;
 }
 .view:hover
 {
   background-color: black;
   color: white;
 }
 .t
 {
   margin-top: -28vh;
 }
 .slideDiv
 {
   height: 68vh;
   border: 0.1vh solid black;
 }
 .comuni{
   margin-top: -9vh;
 
 }
 body{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
 }
 .loginContainer
 {
  width: 50vw;
  height: 70vh;
  background-color: #282c34;
  position: relative;
 }





 .search_container
 {
  width: 100%;
  height: 70vh;
  background-color: #fff7f7;
 
 }
 .search
 {
  display: flex;
  position: relative;
  margin-left: 6vw;
 
  top: 29vh;
 }
 .input1_box,.input2_box,.input3_box,.input4_box
 {
  width: 19vw;
  height: 7.3vh;
  border: 0.14vh solid #5d5959;
  background-color: 
  #ffffff;
  border-radius: 0.3vw;
  margin-right: 0.5vh;
 }
 .input1_box input,.input2_box input,.input3_box input,.input4_box input
 {
  width: 15vw;
  height: 5vh;
  background-color: #ffffff;
  margin-left: 1vw;
  margin-top: 1vh;
  border: none;
  outline: none;
  font-size: 1.4vw;
 }
 .input1_box input::placeholder
 {
  font-size: 1.5vw;
  color: black;
 }
 .search_button
 {
  width: 8vw;
  border: none;
  outline: none;
  background-color: blueviolet;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.28vw;
  border-radius: 0.5vw;
  cursor: pointer;
 }
 .search_button:hover
 {
  background-color: blue;
 }
 .text_container
{
  position: relative;
  top: 30vh;
  margin-left: 6vw;
  width: 80vw;
  display: flex;
 }
 .text_container p 
 {
    
    width: 19.5vw;
    font-weight: 600;
    font-size: 1.3vw;
 }
 .data_conatiner
 {
    background-color: #fbfcff;
    margin-top: 0;
 }
 .flight_list
 {
  width: 90vw;
  height: 30vh;
  background-color: #ffffff;
  border-radius: 1vw;
  margin-left: 5vw;
  margin-top: 5vh;
  display: flex;
  
 }
 .flight_list img
{
   width: 8vw;
   height: 15vh;
   margin-top: 7vh;
   margin-left: 4vw;
   border-radius: 0.5vw;
}
.flight_title,.flight_value
{
  display: flex;
}
.flight_title p 
{
  font-size: 1.3vw;
  font-weight: 600;
  width: 9vw;
  margin-left: 5vw;
  margin-top: 8vh;
}
.flight_value p 
{
  font-size: 1.3vw;
  font-weight: 600;
  width: 9vw;
  margin-left: 5vw;
  margin-top: 1vh;
}
.booked_now
{
  width: 17vw;
  height: 8vh;
  background-color: red;
  color: white;
  font-size: 1.3vw;
  margin-top: 10.2vh;
  border: none;
  outline: none;
  border-radius: 0.5vw;
  margin-right: 1vh;
  cursor: pointer;
}
.booked_now:hover
{
  background-color: rgb(145, 11, 11);
}

.signup
{
  width: 35vw;
  margin: auto;
  margin-top: 13vh;
  background-color: black;
  color: white;
  border-radius: 1.3vw;
  box-shadow: 0 0 2px 2px #fbfcff;
  height: 65vh;
}
.signup h1
{
  text-align: center;
  position: relative;
  top: 4vh;
  font-size: 3vw;
  text-decoration: underline;
  
}
.signup input
{
  width: 22vw;
  height: 5vh;
  border-radius: 0.5vw;
  outline: none;
  margin-top: 1.7vh;
  margin-left: 13.5vh;
}
.signup_button
{
  width: 22.8vw;
  height: 7vh;
  background-color: red;
  color: white;
  font-size: 1.3vw;
  border-radius: 1vw;
  margin-top: 5vh;
  margin-left: 13.5vh;
  cursor: pointer;
}
.signup_button:hover
{
  background-color: rgb(190, 15, 15);
}
 .proute
 {
  text-align: center;
  cursor: pointer;
 }